<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <li>
    <%= f.label :name %>
  </li>
  <li>
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :email %>
  </li>
  <li>
    <%= f.text_field :email %>
  </li>
  <li>
    <%= f.label :password %>
  </li>
  <li>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.label :password_confirmation, "Confirmation" %>
  </li>
  <li>
    <%= f.password_field :password_confirmation %>
  </li>
  <li>
    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  </li>

    <% end %>
  </div>
</div>

<%= link_to 'Back', users_path %>
